.ui.centered.grid
    .five.wide.column
        h3.ui.header 
            .content   #{profile.nom}
                .sub.header Nom
        h3.ui.header 
            .content   #{profile.pnom}
                .sub.header Prénom
        h3.ui.header 
            .content   #{profile.nomEntreprise}
                .sub.header Nom d'entreprise
        h3.ui.header 
            .content   #{profile.sexe}
                .sub.header Sexe
    .five.wide.column
        h3.ui.header 
            .content   #{profile.dateNaiss}
                .sub.header Date de naissance
        h3.ui.header 
            .content   #{profile.lieuNaiss}
                .sub.header Lieu de naissance
        h3.ui.header 
            .content   #{profile.telephone}
                .sub.header Numéro de téléphone
        h3.ui.header 
            .content   #{profile.email}
                .sub.header Adresse mail
    .five.wide.column
        h3.ui.header 
            .content   #{profile.wilayaAdr}
                .sub.header Wilaya de résidence
        h3.ui.header 
            .content   #{profile.communeAdr}
                .sub.header Commune de residence
        h3.ui.header 
            .content   #{profile.quartierAdr}
                .sub.header Quartier de résidence
        h3.ui.header 
            .content   #{profile.lotissementAdr}
                .sub.header Numéro de lotissement