extends /views/layout/layout

block user
    .ui.segment.basic
        h3.ui.header.inverted
            img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
            .content  #{user.nom}
block content
    .ui.container
        .ui.three.column.stackable.grid
            .two.wide.column
                a.ui.teal.icon.fluid.huge.button(id="sidebaror")
                    i.content.icon
            .ten.wide.column
                .ui.teal.inverted.segment
                    h3.ui.header
                        i.suitcase.icon
                        .content    Détails du contrat ##{contrat._id} :
            .four.wide.column
                a.ui.teal.labeled.icon.fluid.huge.button(href="/employeur/contrats")
                    i.reply.icon
                    | Retour
        .ui.divider
        .ui.two.column.stackable.grid
            .five.wide.column
                if contrat.etat === "Négociation"
                    form.ui.accept.form(role="form" action="?_method=PUT" method="post")
                        button.ui.blue.labeled.icon.fluid.huge.acceptar.button( type="button" class= (contrat.etat !== "Négociation" ? "disabled" : ""))
                            i.checkmark.icon
                            | Accepter le contrat
                else if contrat.etat === "Ouvert"
                    button.ui.blue.labeled.icon.fluid.huge.cloturar.button(type="button" class= (contrat.etat !== "Ouvert" ? "disabled" : ""))
                        i.archive.icon
                        | Clôturer
                .ui.teal.inverted.segment
                    h3.ui.header
                        i.user.icon
                        | Employeur: 
                .ui.fluid.card
                    .ui.centered.image
                        img(class="ui circular image" src=+ (employeur[0].sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
                    .center.aligned.content
                        .ui.star.huge.rating(data-rating=Math.round(employeur[0].note_moy) data-max-rating="10" data-content="Note moyenne calculée: "+Math.round(employeur[0].note_moy*100)/100+" pour "+employeur[0].notations.length+" contrat(s) noté(s).")
                    .content
                        h4.ui.header 
                            i.hashtag.icon                         
                            .content #{employeur[0]._id}
                                .sub.header ID
                    .content
                        h4.ui.header 
                            i.user.icon    
                            .content #{employeur[0].nom}
                                .sub.header Nom
                    .content
                        h4.ui.header 
                            i.ellipsis.horizontal.icon
                            .content #{employeur[0].pnom}
                                .sub.header Prénom
                    .content
                        h4.ui.header 
                            i.call.icon
                            .content #{employeur[0].telephone}
                                .sub.header Numéro de téléphone
                    .content
                        h4.ui.header 
                            i.mail.icon
                            .content #{employeur[0].email}
                                .sub.header Adresse Mail
                    .content
                        h4.ui.header 
                            i.map.icon
                            .content #{employeur[0].wilayaAdr}
                                .sub.header Wilaya
            .eleven.wide.column
                .ui.teal.inverted.segment
                    h3.ui.header
                        i.idea.icon
                        | Etat du contrat:
                .ui.teal.padded.segment
                    case contrat.etat
                        when "Négociation"
                            .ui.info.icon.message
                                i.info.icon
                                .content
                                    .header #{contrat.etat}                                    
                                    | L'employeur a accepté votre postulation. Vérifiez la durée du contrat puis décidez si vous souhaitez ou non l'accepter.
                        when "Fermé"
                            .ui.warning.icon.message
                                i.archive.icon
                                .content
                                    .header #{contrat.etat}                                    
                                    | Votre contrat a été clôturé et archivé.
                        when "Ouvert"
                            .ui.positive.icon.message
                                i.circle.thin.icon
                                .content
                                    .header #{contrat.etat}                                    
                                    | Vous avez accepté le contrat.
                        when "Cloturation"
                            .ui.positive.icon.message
                                i.lock.icon
                                .content
                                    .header #{contrat.etat}                                    
                                    | Vous avez demandé la cloturation de votre contrat. Veuillez patienter le temps que l'employeur traite votre demande.
                .ui.teal.inverted.segment(class= contrat.etat === "Fermé" ? "disabled" : "")
                    h3.ui.header
                        i.hourglass.full.icon
                        | Progrés du contrat: 
                .ui.teal.padded.segment(class= contrat.etat === "Fermé" ? "disabled" : "")
                    - var diff = (moment(contrat.dateFin)).diff(moment(contrat.dateDebut), 'days') ;
                    - var fromStart = (moment()).diff(moment(contrat.dateDebut), 'days') ;
                    - var percent = fromStart*100/diff;
                    .ui.active.teal.progress(data-percent=percent id="daysPercent")
                        .bar
                            .progress
                        .label Progrés
                    .ui.stackable.three.column.centered.grid
                        .row
                            .column
                                h1.ui.header
                                    i.wait.icon
                                    .content #{moment(contrat.dateFin).fromNow(true)}
                                        .sub.header Restant(s)
                            .column
                                h1.ui.header
                                    i.wait.icon
                                    .content #{fromStart} Jours
                                        .sub.header Ecoulé(s)
                            .column
                                h1.ui.header
                                    i.wait.icon
                                    .content #{diff} Jours
                                        .sub.header Totaux
                        .row
                            .column
                                h4.ui.header
                                    i.hourglass.start.icon
                                    .content #{moment(contrat.dateDebut).format('D MMMM YYYY')}
                                        .sub.header Date de début du contrat
                            .column
                                h4.ui.header
                                    i.hourglass.end.icon
                                    .content #{moment(contrat.dateFin).format('D MMMM YYYY')}
                                        .sub.header Date d'échéance du contrat
                .ui.teal.inverted.segment
                    h3.ui.header
                        i.book.icon
                        | Détails de l'offre: 
                .ui.teal.padded.segment
                    h3.ui.header 
                        i.hashtag.icon
                        .content   #{contrat.offre._id}
                            .sub.header ID de l'offre
                    h3.ui.header 
                        i.ellipsis.horizontal.icon
                        .content   #{contrat.offre.titre}
                            .sub.header Titre de l'offre
                    h3.ui.header 
                        i.student.icon
                        .content   #{contrat.offre.competence.titre}
                            .sub.header Compétence requise
                    h3.ui.header 
                        i.maps.pin.icon
                        .content   #{contrat.offre.localisation}
                            .sub.header Localisation
                    h3.ui.header 
                        i.write.icon
                        .content Description de l'offre 
                            .sub.header #{contrat.offre.description}
                    h3.ui.header 
                        i.calendar.icon
                        .content #{moment(contrat.offre.dateAjout).format('DD MMMM YYYY')}
                            .sub.header Date d'ajout 
    .ui.accept.modal
        h2.ui.header
            i.help.circle.icon 
            .content Accepter le contrat?
        .content
            p Une fois le contrat accepté, vous étes tenû de respecter les clauses détaillées dans les termes 
                | d'utilisation de Fennec Freelance ainsi que les conditions de l'offre concernée.
            a(href="/static/docs/termes.pdf")
                i.linkify.icon
                | Termes d'utilisation de Fennec Freelance
            br
            a(href=contrat.offre.url_conditions)
                i.linkify.icon
                | Conditions de l'offre 
        .center.aligned.actions
            .ui.cancel.red.button Annuler
            .ui.approve.teal.button Valider

    .ui.cloturar.modal
        h2.ui.header
            i.help.circle.icon 
            .content Clôturer le contrat ?
        .content
            p Pour terminer votre contrat, veuillez noter la prestation de votre employeur:
            form.ui.cloturar.form(role="form" action=contrat._id+"/cloturer" method="post")
                .inline.field
                    label Note:
                    Select(name="note" class="ui dropdown")
                        option(value="" selected disabled) Note
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                        option(value="6") 6
                        option(value="7") 7
                        option(value="8") 8
                        option(value="9") 9
                        option(value="10") 10
        .center.aligned.actions
            .ui.cancel.red.button Annuler
            .ui.approve.teal.button Valider

    