extends /views/layout/layout

block user
    .ui.segment.basic
        h3.ui.header.inverted
            img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
            .content  #{user.nom}
block content
    .ui.container
        .ui.two.columns.stackable.grid
            .two.wide.column
                a.ui.teal.icon.fluid.huge.button(id="sidebaror")
                    i.content.icon
            .fourteen.wide.column
                .ui.teal.inverted.segment
                    h3.ui.header
                        i.list.icon
                        .content    Liste de vos contrats (#{contrats.length}) :
        .ui.padded.teal.segment
            form.ui.form(action="" method="GET" role="form")
                .equal.width.fields
                    .field
                        .ui.icon.input
                            input(type="text" name="searchOffre" placeholder="Titre de l'offre...")
                            i.search.icon
                    .field
                        .ui.icon.input
                            input(type="text" name="searchNom" placeholder="Nom de l'employeur...")
                            i.search.icon
                    .field
                        .ui.icon.input
                            input(type="text" name="searchPnom" placeholder="Prénom de l'employeur...")
                            i.search.icon
                    .field
                        select(class="ui dropdown" name="etat")
                            option(value="" disabled selected) Etat du contrat...
                            option(value="Négociation") Négociation
                            option(value="Cloturation") Cloturation
                            option(value="Ouvert") Ouvert
                            option(value="Fermé") Fermé
                    .two.fields
                        .field
                            button.ui.yellow.icon.fluid.button(type="reset")
                                i.refresh.icon
                        .field
                            button.ui.teal.icon.fluid.button.submit
                                i.search.icon
            .ui.divider
            if contratDeleted.length > 0
                .ui.info.icon.message
                    i.info.icon
                    .content 
                        .header #{contratDeleted}
            if contrats.length === 0
                .ui.info.icon.message
                    i.info.icon
                    .content 
                        .header Vous n'avez aucun contrat à afficher
            else
                table.ui.sortable.padded.striped.basic.five.column.table(id="offresTable")
                    thead
                        tr
                            th ID 
                                i.caret.down.icon
                            th Offre
                                i.caret.down.icon
                            th Employeur
                                i.caret.down.icon
                            th Etat
                                i.caret.down.icon
                            th Jours restants
                                i.caret.down.icon
                    tbody
                        each contrat, index in contrats
                            tr 
                                td.two.wide 
                                    a(href="/freelancer/contrats/details/"+contrat._id)
                                        i.hashtag.icon
                                        | #{contrat._id}
                                td.five.wide 
                                    i.newspaper.icon 
                                    | #{contrat.offre.titre}
                                td.five.wide.left.aligned
                                    i.user.icon
                                    |  #{contrat.employeur.nom}, #{contrat.employeur.pnom}
                                case contrat.etat
                                    when "Négociation"
                                        td.two.wide.left.warning.aligned
                                            i.wait.icon
                                            |  #{contrat.etat}
                                    when "Ouvert"
                                        td.two.wide.left.positive.aligned
                                            i.circle.thin.icon
                                            |  #{contrat.etat}
                                    when "Fermé"
                                        td.two.wide.left.negative.aligned
                                            i.archive.icon
                                            |  #{contrat.etat}
                                    when "Cloturation"
                                        td.two.wide.left.warning.aligned
                                            i.lock.icon
                                            |  #{contrat.etat}
                                td.two.wide.center.aligned 
                                    i.calendar.icon
                                    | #{moment(contrat.dateFin).fromNow(true)}