extends /views/layout/layout_emp

block user
    .ui.segment.basic
        h3.ui.header.inverted
            img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
            .content  #{user.nom}
block content
    .ui.container
        .ui.three.column.stackable.grid
            .two.wide.column
                a.ui.violet.icon.fluid.huge.button(id="sidebaror")
                    i.content.icon
            .ten.wide.column
                .ui.violet.inverted.segment
                    h3.ui.header
                        i.user.icon
                        .content    Détails de la notification ##{notification._id} :
            .four.wide.column
                a.ui.violet.labeled.icon.fluid.huge.button(href="/notifications")
                    i.reply.icon
                    | Retour
        .ui.divider
        .ui.violet.padded.segment
            .ui.basic.padded.segment
                .ui.two.column.stackable.centered.grid
                    .row
                        .three.wide.column
                            h4.ui.header
                                i.hashtag.icon 
                                .content ID Notif. :
                        .thirteen.wide.column
                            p #{notification._id}
                    .row
                        .three.wide.column
                            h4.ui.header
                                i.pin.icon 
                                .content Titre :
                        .thirteen.wide.column
                            p #{notification.titre}
                    .row
                        .three.wide.column
                            h4.ui.header
                                i.book.icon 
                                .content Contenu :
                        .thirteen.wide.column
                            p #{notification.contenu}
                    .row
                        if notification.target.targetType === 'Contrat'
                            .three.wide.column
                                h4.ui.header
                                    i.linkify.icon 
                                    .content Contrat :
                            .thirteen.wide.column
                                a(href="/employeur/contrats/details/"+notification.target.targetPath) ##{notification.target.targetPath}
                        if notification.target.targetType === 'Offre'
                            .three.wide.column
                                h4.ui.header
                                    i.linkify.icon 
                                    .content Offre :
                            .thirteen.wide.column
                                a(href="/employeur/offres/details/"+notification.target.targetPath) ##{notification.target.targetPath}
                    .ui.divider
                    .row
                        .three.wide.column
                            h4.ui.header
                                i.calendar.icon 
                                .content Date de récéption :
                        .thirteen.wide.column
                            p Le #{moment(notification.date_ajout).format('DD MMMM YYYY, à HH:mm')}
                br
                .ui.clearing.basic.segment
                    form.ui.form(action=notification._id+"?_method=DELETE" method="post")
                        button.ui.labeled.icon.yellow.right.floated.submit.button
                            i.remove.icon
                            | Supprimer