extends /views/layout/layout_emp

block user
    .ui.segment.basic
        h3.ui.header.inverted
            img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
            .content  #{user.nom}
block content
    .ui.container
        .ui.two.column.stackable.grid
            .two.wide.column
                a.ui.violet.icon.fluid.huge.button(id="sidebaror")
                    i.content.icon
            .fourteen.wide.column
                .ui.violet.inverted.segment
                    h3.ui.header
                        i.list.icon
                        .content    Liste des notifications reçues :
        .ui.divider
        .ui.padded.violet.segment
            if notifRemoved != ""
                .ui.success.icon.message
                    i.checkmark.icon
                    .content #{notifRemoved}
            if notifications.length === 0
                .ui.info.icon.message
                    i.info.icon
                    .content Aucune notification à afficher.
            else        
                table.ui.sortable.celled.four.column.small.definition.table(id="offresTable")
                    thead
                        tr
                            th
                            th ID 
                                i.caret.down.icon
                            th titre
                                i.caret.down.icon
                            th Date
                                i.caret.down.icon
                    tbody
                    each notification, index in notifications
                        tr 
                            td.one.wide.center.aligned
                                a(href="/notifications/n/"+notification._id)
                                    i.icon( class= notification.lu === false ? "violet alarm" : "alarm outline" )
                            td.two.wide 
                                a(href="/notifications/n/"+notification._id)
                                    i.hashtag.icon
                                    | #{notification._id}
                            td.six.wide 
                                a(href="/notifications/n/"+notification._id)
                                    i.notes.icon 
                                    | #{notification.titre}
                            td.three.wide.center.aligned 
                                i.calendar.icon
                                | #{moment(notification.date_ajout).format('DD/MM/YYYY HH:mm')}
                