extends /views/layout/layout

block user
    .ui.segment.basic
        h3.ui.header.inverted
            img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
            .content  #{user.nom}
block content
    .ui.container
        .ui.three.column.grid
            .wide.column
                a.ui.blue.labeled.icon.fluid.button(id="sidebaror")
                    i.content.icon
                    | Menu
            .column
                a.ui.blue.labeled.icon.fluid.button(href="/freelancer")
                    i.user.icon
                    | Retourner au profil
            .column
                a.ui.blue.labeled.icon.fluid.button(href="/freelancer/modifier/profil")
                    i.edit.icon
                    | Modifier le profil
        if demandeTrouvee != ""
            .ui.negative.message
                .header Impossible de modifier vos compétences.
                p 
                    | Vous avez dèja une demande de validation 
                    b (ID: #{demande._id})
                    |  en attente de traitement.
                ul.list
                    li Patientez le temps qu'un administrateur traite votre demande.
                    li Supprimez votre demande et modifiez vos compétences.
        if validateTrouvee != ""
            .ui.negative.icon.message
                i.info.icon
                .header #{validateTrouvee}
        if demandeCreated != ""
            .ui.positive.icon.message
                i.checkmark.icon
                .header #{demandeCreated}
        .ui.teal.inverted.segment
                h3.ui.header 
                    i.book.icon
                    .content   Détails de votre demande:
        .ui.padded.segment
            .ui.padded.basic.segment
                h4.ui.header 
                    i.hashtag.icon
                    .content   #{demande._id}
                        .sub.header ID de la demande
                h4.ui.header 
                    i.hourglass.half.icon
                    .content   #{(demande.status === "pending") ? "En attente de traitement" : " Huh ? Mehdi!"}
                        .sub.header Etat de la demande
                h4.ui.header 
                    i.calendar.icon
                    .content   #{moment(demande.dateCreated).format('D MMMM YYYY')}
                        .sub.header Date d'enregistrement de la demande
                h4.ui.header 
                    i.legal.icon
                    .content Justificatifs fournis:
                .ui.basic.segment
                    .ui.relaxed.divided.list
                        each justificatif, index in demande.justificatifs
                            .item
                                i.large.linkify.icon
                                .content
                                    a.header(href= justificatif.url ) #{justificatif.competence.titre} :
                                    .description #{justificatif.url}
            .ui.padded.basic.clearing.segment
                form.ui.form(action="/freelancer/demande/"+demande._id+"?_method=DELETE" method="post")
                    button.ui.red.right.floated.validateModal.button(type="button") Supprimer la demande 
            .ui.modal
                    h4.ui.header
                        i.help.circle.icon 
                        .content Supprimer votre demande ?
                    .content
                        p 
                            | Une fois supprimée, vous deverez déposer une autre demande 
                            |  afin de valider votre profil.
                    .center.aligned.actions
                        .ui.cancel.red.button Annuler
                        .ui.approve.green.button Valider
            //- if messages.demandeDeleted != ""
            //-     .ui.positive.message
            //-         .header Demande supprimée
            //-         p Votre demande a été correctement supprimée. vous pouvez à présent en déposer une autre.