extends /views/layout/layout_emp

block user
    .ui.segment.basic
        h3.ui.header.inverted
            img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
            .content  #{user.nom}
                .sub.header #{user.userID.accountType}
block content
    .ui.container
        .ui.three.columns.stackable.grid
            .column
                a.ui.purple.labeled.icon.fluid.small.button(href="/employeur/modifier/domaines")
                    i.student.icon
                    | Modifier les domaines
            .column
                a.ui.purple.labeled.icon.fluid.small.button(href="/employeur/modifier/profil")
                    i.edit.icon
                    | Modifier le profil
            .column
                a.ui.red.labeled.icon.fluid.small.button
                    i.delete.icon
                    | Supprimer le compte
        if messages.domainesModifSuccess != ""
            .ui.info.icon.message
                i.info.icon
                .content
                    .header #{messages.domainesModifSuccess}
        .ui.two.columns.stackable.grid
            .four.wide.column
                .ui.violet.inverted.segment
                        h4.ui.header
                            i.tasks.icon
                            .content    Compte:
                .ui.segment
                    .inline.field
                        .ui.toggle.checkbox
                            if (user.visibilite === true)
                                input(type="checkbox" id="toggle-visi" class="hidden" value="true" checked)
                            else
                                input(type="checkbox" id="toggle-visi" class="hidden" value="false")
                            label Visibilité
                    .ui.info.message
                        i.help.icon
                        | Permet de modifier votre visibilité vis-à-vis des freelancers.
                .ui.fluid.card
                    .image
                        img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
                    .content
                        h4.ui.header 
                            i.hashtag.icon                         
                            .content #{user.userID._id}
                                .sub.header Numéro de compte
                    .content
                        h4.ui.header 
                            i.asterisk.icon    
                            .content #{user.userID.username}
                                .sub.header Nom d'utilisateur
                    .content
                        h4.ui.header 
                            i.tag.icon
                            .content #{user.userID.accountType}
                                .sub.header Type de compte
                    .content
                        h4.ui.header 
                            i.calendar.outline.icon
                            .content #{dateCreated}
                                .sub.header Date de création
            .twelve.wide.column
                .ui.violet.inverted.segment
                    h4.ui.header 
                        i.user.icon
                        .content   Identité:
                .ui.horizontal.segments
                    .ui.padded.segment
                        h4.ui.header 
                            i.user.icon 
                            .content   #{user.nom}
                                .sub.header Nom
                        h4.ui.header 
                            i.ellipsis.horizontal.icon 
                            .content   #{user.pnom}
                                .sub.header Prénom
                        h4.ui.header 
                            i.building.icon 
                            .content   #{user.nomEntreprise}
                                .sub.header Nom d'entreprise
                        h4.ui.header
                            i(class=( user.sexe === "Homme") ? "male icon" : "female icon" ) 
                            .content   #{user.sexe}
                                .sub.header Sexe
                        h4.ui.header 
                            i.calendar.icon 
                            .content   #{dateNaiss}
                                .sub.header Date de naissance
                        h4.ui.header 
                            i.marker.icon 
                            .content   #{user.lieuNaiss}
                                .sub.header Lieu de naissance
                    .ui.padded.segment
                        h4.ui.header
                            i.call.icon 
                            .content   #{user.telephone}
                                .sub.header Numéro de téléphone
                        h4.ui.header 
                            i.at.icon                         
                            .content   #{user.email}
                                .sub.header Adresse mail
                        h4.ui.header 
                            i.map.icon                         
                            .content   #{user.wilayaAdr}
                                .sub.header Wilaya de résidence
                        h4.ui.header 
                            i.map.pin.icon                         
                            .content   #{user.communeAdr}
                                .sub.header Commune de residence
                        h4.ui.header 
                            i.map.signs.icon                         
                            .content   #{user.quartierAdr}
                                .sub.header Quartier de résidence
                        h4.ui.header 
                            i.building.outline.icon                         
                            .content   #{user.lotissementAdr}
                                .sub.header Numéro de lotissement
                .ui.violet.inverted.segment
                        h4.ui.header
                            i.cubes.icon
                            .content Domaines:
                .ui.two.stackable.cards
                    each domaine, index in user.domaines
                        .violet.card
                            .content
                                h4.ui.header
                                    i.cube.icon 
                                    .content  #{index+1} -  #{domaine.titre}
                                .description
                                    | #{domaine.description}
                        
