extends /views/layout/layout_emp

block user
    .ui.segment.basic
        h3.ui.header.inverted
            img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
            .content  #{user.nom}
                .sub.header #{user.userID.accountType}
block content
    .ui.container
        .ui.three.columns.stackable.grid
            .two.wide.column
                a.ui.violet.icon.fluid.huge.button(id="sidebaror")
                    i.content.icon
            .ten.wide.column
                .ui.violet.inverted.segment
                    h3.ui.header
                        i.newspaper.icon
                        .content    Détails de l'offre (##{offre._id}) :
            .four.wide.column   
                a.ui.violet.labeled.icon.huge.fluid.button(href="/employeur/offres/" ) 
                    i.reply.icon
                    | Retour
        .ui.stackable.two.column.grid
            .four.wide.column
                form.ui.form(action="?_method=DELETE" method="Post")
                    .ui.purple.inverted.two.item.menu
                        a.validateModal.item(type="button")
                            i.remove.icon
                            | Supprimer
                        a.item(href="/employeur/offres/details/"+offre._id+"/mod")
                            i.edit.icon
                            | Modifier
                .ui.inverted.violet.segment
                    h3.ui.header
                        i.users.icon
                        .content    Postulants (#{offre.postulants.length}/10)  
                .ui.padded.violet.segment
                    if offre.postulants.length > 0
                        each postulant, index in offre.postulants
                            a(href="/employeur/freelancers/details/"+postulant._id)
                                h4.ui.header 
                                    i.user.icon
                                    .content #{postulant.nom}, #{postulant.pnom}
                                        .sub.header #{postulant.userID} 
                                .ui.divider 
                    else
                        .ui.info.icon.message
                            i.info.icon
                            | Aucun postulant à afficher.
            .twelve.wide.column
                .ui.padded.violet.segment
                    .ui.padded.vertical.segments
                        .ui.segment
                            h3.ui.header 
                                i.hashtag.icon
                                .content   #{offre._id}
                                    .sub.header ID de l'offre
                        .ui.segment
                            h3.ui.header 
                                i.flag.icon
                                .content   #{offre.etat}
                                    .sub.header Etat de l'offre
                        .ui.segment
                            h3.ui.header 
                                i.ellipsis.horizontal.icon
                                .content   #{offre.titre}
                                    .sub.header Titre de l'offre
                        .ui.segment
                            h3.ui.header 
                                i.student.icon
                                .content   #{offre.competence.titre}
                                    .sub.header Compétence requise
                        .ui.segment
                            h3.ui.header 
                                i.maps.pin.icon
                                .content   #{offre.localisation}
                                    .sub.header Localisation
                        .ui.segment            
                            h3.ui.header 
                                i.book.icon
                                .content #{offre.description}
                                    .sub.header Description de l'offre
                        .ui.horizontal.segments
                            .ui.basic.segment
                                h3.ui.header 
                                    i.hourglass.start.icon
                                    .content  #{offre.duree_min} Jour(s)
                                        .sub.header Durée minimum estimée        
                            .ui.basic.segment
                                h3.ui.header 
                                    i.hourglass.end.icon
                                    .content  #{offre.duree_max} Jours
                                        .sub.header Durée maximum estimée  
                        .ui.segment
                            h3.ui.header 
                                i.linkify.icon
                                a.content(href= offre.url_conditions) Conditions   
                                    .sub.header #{offre.url_conditions}
                        if offre.url_autre != ""
                            .ui.segment
                                h3.ui.header 
                                    i.linkify.icon
                                    a.content(href= offre.url_autre) Piéces jointes  
                                        .sub.header #{offre.url_autre}
            
    .ui.modal
        h2.ui.header
            i.help.circle.icon 
            .content Supprimer l'offre ?
        .content Êtes-vous sûr de vouloir supprimer cette offre ?
        .center.aligned.actions
            .ui.cancel.red.button Annuler
            .ui.approve.violet.button Valider   
