extends /views/layout/layout_emp

block user
    .ui.segment.basic
        h3.ui.header.inverted
            img(class="ui circular image" src=+ (user.sexe === "Homme") ? "/static/images/male.png" : "/static/images/female.png")
            .content  #{user.nom}
                .sub.header #{user.userID.accountType}
block content
    .ui.container
        .ui.three.columns.stackable.grid
            .two.wide.column
                a.ui.violet.icon.fluid.huge.button(id="sidebaror")
                    i.content.icon
            .ten.wide.column
                .ui.violet.inverted.segment
                    h3.ui.header
                        i.edit.icon
                        .content    Modification de l'offre ##{offre._id} :
            .four.wide.column   
                a.ui.violet.labeled.icon.huge.fluid.button(href="/employeur/offres/" ) 
                    i.reply.icon
                    | Retour
        .ui.padded.violet.segment
            form.ui.form(role="form" enctype="multipart/form-data"  action=""+"?_method=PUT" method="post")
                div.ui.error.message(style="margin-top:0")
                .ui.basic.segment
                    .ui.purple.inverted.segment
                        h4.ui.header 
                            i.write.icon
                            .content Description de l'offre
                    .field
                        label Titre
                        input(type="text" name="titreOffre" placeholder="Titre de l'offre" value=offre.titre)
                    .field
                        label Domaine concerné
                        select(type="text" id="domSelect" class="ui dropdown" required maxlength="50" name="domaineOffre")
                            option(value="" selected disabled) Domaine concerné par l'offre
                            each domaine in domaines
                                option(value=domaine._id) #{domaine.titre}
                        .ui.info.icon.message(id="competsInfo")
                            i.info.icon
                            .content Selectionnez un domaine pour afficher les compétences disponibles
                    .field(id="competField")
                        label Compétence concernée
                        select(type="text" id="competSelect" class="ui dropdown" required maxlength="50" name="competOffre")
                            option(value="" selected disabled) Compétence concernée par l'offre
                    .field
                        label Description
                        textarea.textarea(name="descriptionOffre" required maxlength="1000" placeholder="Description de votre offre") #{offre.description}
                    .inline.fields
                        label Localisation :
                        .field
                            .ui.radio.checkbox
                                input(type="radio" name="localOffre" checked=(offre.localisation !== "Nationale" ? "" : undefined) value=user.wilayaAdr tabindex="0" class="hidden")
                                label #{user.wilayaAdr}
                        .field
                            .ui.radio.checkbox
                                input(type="radio" name="localOffre" checked=(offre.localisation === "Nationale" ? "" : undefined)  value="Nationale" tabindex="0" class="hidden")
                                label Territoire national
                    .ui.purple.inverted.segment
                        h4.ui.header 
                            i.calendar.icon
                            .content Durée éstimée de l'emploi
                    .two.fields   
                        .field
                            label Durée minimum (Jours)
                            input(type="number" name="dureeMin" value=offre.duree_min)
                        .field
                            label Durée maximum (Jours)
                            input(type="number" name="dureeMax" value=offre.duree_max)
                    .ui.purple.inverted.segment
                        h4.ui.header 
                            i.linkify.icon
                            .content Piéces jointes:
                    .two.fields
                        .field
                            label Condititions de l'offre
                            input(type="file" name="conditionOffre")
                        .field
                            label Autre (Optionel)
                            input(type="file" name="autreOffre")
                    .ui.info.icon.message
                        i.info.icon
                        .content
                            | Les rémunérations et autres données doivent être négociées directement au prés de l'employeur
                .ui.basic.clearing.segment
                    button.ui.labeled.icon.right.floated.violet.validateModal.button(type="button"  disabled=( allowModif === false ) ? "" : undefined)
                        i.save.icon
                        | Enregistrer l'offre
                    button.ui.labeled.icon.right.floated.orange.button(type="reset"  disabled=( allowModif === false ) ? "" : undefined)
                        i.refresh.icon
                        | Réinitialiser le formulaire
                .ui.modal
                    h2.ui.header
                        i.help.circle.icon 
                        .content Modifier l'offre ?
                    .content Êtes-vous sûr de vouloir modifier cette offre ? en la modifiant, la liste des postulants sera réinitialisée.
                    .center.aligned.actions
                        .ui.cancel.red.button Annuler
                        .ui.approve.violet.button Valider        
                    
